:root{
	--main_background: hsl(235, 21%, 11%);
    --todo_background: hsl(235, 24%, 19%);
    --text_color: hsl(234, 39%, 85%);
	--Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
	--lists_border_line: hsl(234, 11%, 52%);
	--text_color_fade: hsl(233, 14%, 35%);
	--check_border: hsl(237, 14%, 26%);
}

.light-theme{
	--main_background: hsl(0, 0%, 98%);
    --todo_background: #fff;
    --text_color: hsl(235, 19%, 35%);
	--Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
	--lists_border_line: hsl(236, 33%, 92%);
	--text_color_fade: hsl(236, 9%, 61%);
	--check_border: hsl(233, 11%, 84%);
}

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(images/bg-desktop-dark.jpg);
	background-repeat: no-repeat;
	background-color: var(--main_background);
	max-width: 100%;
}
/*
.background{
	height: 25vw;
	width: 100%;
	background-image: url(images/bg-desktop-dark.jpg);
} */

.contain{
	display: flex;
	align-items: center;
	justify-content: center;
} 

.container{
	margin-top: 8rem;
	min-width: 40vw;
	height: ;
}

/*.container{
	width: 40%;
	height: 40vw; /*500px*/ /*
	top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
} */

.title{
	display: flex;
	justify-content: space-between;
}

.todo{
	color: #fff;
	font-size: 35px;
	letter-spacing: 1rem;
	font-weight: bold;
}

.title .icon{
	margin-top: 0.8rem;
}

#moon{
	display: none;
}

.input{
	background-color: var(--todo_background);
	height: 45px; /* 45px */
	display: flex;
	border-radius: 5px;
	margin-top: 2rem;
}

.check{
	height: 18px;
	width: 18px;
	border: 1px solid var(--check_border);
	border-radius: 50%;
	align-items: center;
	text-align: center;
	margin-top: 12px;
	margin-left: 1rem;
	cursor: pointer;
}

.check:hover{
	border-color: aqua;
}

/*.checked{
	background-image: url(images/bg-desktop-dark.jpg);
	height: 18px;
	width: 18px;
} */

.input input[type=text]{
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 20px;
	width: 70%;
	margin-left: 2rem;
	color: var(--text_color);
}

.input input[type=text]:hover{
	outline: 1px solid var(--check_border);
}

.add{
	width: 20%;
	font-weight: bolder;
	font-size: 35px;
	color: var(--text_color);
	text-align: center;
	cursor: pointer;
}

.add:hover{
	color: var(--text_color_fade);
}

.lists-contain{
	margin-top: 1.5rem;
	border-radius: 4px;
}

.list{
	background-color: var(--todo_background);
	border-bottom: 1px solid var(--lists_border_line);
	display: flex;
	height: 45px;
}

.lists-contain .disp{
	width: 70%;
	margin-left: 2rem;
	font-size: 20px;
	color: var(--text_color);
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

.lists-contain .delete{
	margin-left: 45px;
	margin-top: 12px;
	cursor: pointer;
	height: 18px;
	width: 18px;
	background-image: url(images/icon-cross.svg);
}

/* styling the command lines */

#mobile-condition{
	display: none;
}

.commands{
	justify-content: space-between;
	font-size: 12px;
	border: none;
	color: var(--text_color_fade);
	border-radius: 5px;
}

.commands .items{
	margin-top: 12px;
	margin-left: 20px;
	cursor: pointer;
}

.commands .condition{
	display: flex;
	margin-top: 12px;
}

.commands .condition p{
	margin-right: 15px;
	cursor: pointer;
}

.commands .condition p:hover{
	color: var(--text_color);
}

.commands .clear{
	margin-top: 12px;
	margin-right: 25px;
	cursor: pointer;
}

.commands .clear:hover{
	color: var(--text_color);
}

.drag{
	text-align: center;
	color: var(--text_color_fade);
	font-size: 12px;
	margin: 2rem 0;
}

footer{
	position: absolute;
	bottom: 5%;
	right: 10%;
}

footer p{
	font-weight: bolder;
	font-size: 20px;
}

footer span{
	color: orangered;
}

@media only screen and (max-width: 500px){
	body{
		background-image: url(images/bg-mobile-dark.jpg);
		background-repeat: no-repeat;
	}
	.container{
		margin-top: 2rem;
		width: 90vw;
	}
	.todo{
		font-size: 25px;
		letter-spacing: 0.5rem;
	}

	.title .icon{
		margin-top: 0.3rem;
	}
	.input input[type=text]{
		font-size: 12px;
		margin-left: 1rem;
	}
	.lists-contain .disp{
		margin-left: 1rem;
		font-size: 12px;
	}
	.lists-contain .delete{
		margin-left: 2px;
		margin-right: 15px;
		
	}
	.commands .condition{
		display: none;
	}
	#mobile-condition{
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}
	#mobile-condition p{
		margin-top: 15px;
	}
	#all_{
		margin-left: 4rem;
	}
	#complete{
		margin-right: 5rem;
	}
	footer{
		position: relative;
		margin-top: 17vh;
		margin-left: 74vw;
	}
}